<article class="post">
  <div class="title">
    {{debug this}}
    <h3>{{title}}</h3>
    <p>{{post_body}}</p>
    <p>by {{user.user_name}}</p>
  </div>
  <div class="meta">
    <a href="/posts/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>