<conatiner class="container-fluid">
    <!-- Button trigger modal -->
    <button id="request-modal" type="button" class="btn btn-dark mx-auto" data-bs-toggle="modal"
        data-bs-target="#newRequestModal">
        Create a new request!
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newRequestModal" tabindex="-1" aria-labelledby="newRequestModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="justify-content-start" ref='uploadForm' id='uploadForm' action='/api/caredays/'
                    method='post' encType="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newRequestModalLabel">Owner's Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>Pet's Name</h2>
                        <select class="form-select" aria-label="Default select example" name="pet_id">
                            {{#each user.pets as |pet|}}
                            <option value="{{pet.id}}">{{pet.pet_name}}</option>
                            {{/each}}
                        </select>
                        <h2>Care Type</h2>
                        <select class="form-select" aria-label="Default select example" name="type_of_care">
                            <option value="Walk">Walk</option>
                            <option value="Sitting">Sitting</option>
                            <option value="Other">Other</option>
                        </select></br>
                        <h2>Date:</h2>
                        <div class="input-group date">
                            <input type="date" name="day_of_care">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div></br>

    <!-- Request for each pet -->


    <div id="learn-more" class="card mb-3 mx-auto" style="max-width: 95%;">
        <div class="row g-0">
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p id="calendar-header" class="text-center card-text">Pet Name</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p id="calendar-header" class="text-center card-text">Date</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p id="calendar-header" class="text-center card-text">Type of Care</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p id="calendar-header" class="text-center card-text">Owner</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p id="calendar-header" class="text-center card-text">Sitter</p>
                </div>
            </div>
        </div>
        {{!-- <div class="col-md-2">
            {{#unless careday.sitting_days}}
            <div class="card-body d-flex justify-content-center">
                <button class="btn btn-outline-light me-2 volunteer-btn" type="button"
                    onclick="volunteerHandler({{careday.id}})">Volunteer!</button>
            </div>
            {{/unless}}
        </div> --}}
        {{#each caredays as |careday| }}
        <div class="row g-0">

            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p class="text-center card-text">{{careday.requested_care_days.pet_name}}</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p class="text-center card-text">{{careday.day_of_care}}</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p class="text-center card-text">{{careday.type_of_care}}</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                <div class="card-body">
                    <p class="text-center card-text">{{careday.requested_care_days.owner.user_name}}</p>
                </div>
            </div>
            <div class="col-md-2 mx-0">
                {{#if careday.sitting_days}}
                <div class="card-body">
                    <p class="text-center card-text">{{careday.sitting_days.user_name}}</p>
                </div>
                {{else}}
                <div class="card-body">
                    <p class="text-center card-text">Available</p>
                </div>
                {{/if}}
            </div>
            <div class="col-md-2">
                {{#unless careday.sitting_days}}
                <div class="card-body d-flex justify-content-center">
                    <button class="btn btn-outline-light me-2 volunteer-btn" type="button"
                        onclick="volunteerHandler({{careday.id}})">Volunteer!</button>
                </div>
                {{/unless}}
            </div>
        </div>
        {{/each}}

    </div>
    </container>
    <script src="/javascript/volunteer.js"></script>