{{!-- <article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <input name="post-body" type="text" value="{{post.post_body}}" />
    </div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  </form>
</article>

{{> comments post.comments}}
--}}
<div class="card mt-5 mx-auto" style="max-width: 90%;">
  <div class="card-header">
    <h5 class="card-title">Edit post!</h5>
  </div>
  <div class="card-body">
    <h2><label for="post-title"></label>Title</label></h2>
    <div class="input-group mb-3">
      <input type="text" id="post-title" name="post-title" value="{{post.title}}" class="form-control"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    </div>
    {{!-- <input name="post-title" type="text" value="{{title}}" /> --}}
    <h2><label for="post-body">Content</label></h2>
    <textarea type="text" id="post-body" name="post-body" class="form-control text-muted"
      aria-label="With textarea">{{post.post_body}}</textarea>
    {{!-- <input name="post-body" type="text" value="{{post_body}}" /> --}}
  </div>
  <div class="card-footer text-end">
    <button type="button" class="btn btn-dark" onclick="location.href='/posts/{{id}}'">Cancel</button>
    <button type="button" class="delete-post-btn btn btn-dark">Delete Post</button>
    <button id="editSaveBtn" type="button" class="btn btn-dark">Save changes</button>
  </div>
</div>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>